* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

body {
  font-family: sans-serif; }

.board-table {
  margin: 0px auto; }

.board-table .row {
  display: flex; }

.board-table .row .cell {
  flex: 1;
  text-align: center;
  display: flex;
  height: 100px;
  border: 1px solid #CCC;
  justify-content: center;
  align-items: center;
  max-width: 100px; }

.board-table .row .cell.isAvail {
  background: green; }

.board-table .row .cell.hovered {
  background: pink; }

.board-table .row .cell .token {
  border-radius: 50%;
  border: 1px solid #DDD;
  width: 50px;
  height: 50px; }

.board-table .row .cell .token.pl1 {
  background: yellow; }

.board-table .row .cell .token.pl2 {
  background: red; }

.board-table .row .cell .token.active {
  transform: scale(1.2);
  position: fixed; }
