@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

img{
  width: 100%;
  height: auto;
  align-self: center;
}

.pull-to-refresh-disable{
  height: 100%;
  position: fixed;
  width: 100%;
  padding: 10px;
  max-width: 500px;
  left: 50%;
  transform: translateX(-50%);

  > div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

body {
  font-family: sans-serif;
  overscroll-behavior-y: contain;
}

#root{
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.board-table{
  margin: 0px auto;
  display: block;
  max-width: 400px;
  position: relative;
  top: calc(50% - 150px);

  &.isWon {
    .token{
      transition-duration: 0.5s;
      animation: shake-the-board 1s infine ease;
      opacity: 0.2;

      &.isWon{
        opacity: 1;
      }
    }
  }
  .row{
    display: flex;

    &:last-child{
      .cell {
        border-bottom: none;
      }
    }

    .cell{
      flex:1;
      text-align: center;
      display: flex;
      height: 100px;
      justify-content: center;
      align-items: center;
      border-right: $lineWidth solid $lineColor;
      border-bottom: $lineWidth solid $lineColor;

      &:nth-child(3){
        border-right: none;
      }

      &.isAvail{ background: green; }
      &.hovered { background: pink; }
    }
  }
}

@keyframes lowJump {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.05);
  }
  100%{
    transform: scale(1);
  }
}

.token{
  border-radius: 50%;
  border: 1px solid #DDD;
  width:  70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: rgba(#000, 0.7);
  overflow: hidden;
  box-shadow: 0 3px 5px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  background-size: cover;
  &.turn {
      box-shadow: 0 3px 5px rgba(green,0.19), 0 6px 6px rgba(green,0.23);
      animation: lowJump 1s infinite
  }

  &.pl1 {
    background-color: $player1Color;
  }
  &.pl2 {
    background-color: $player2Color;
  }


  &.isWon {
    transform: scale(1.3);
    position: relative;
    z-index: 999;
    animation: shake-the-board 1s ease infinite;
  }

  &.active{
    transform: scale(1.2);
    position: fixed;
  }

  &.selectedByP1 {
    border: 3px solid $player1Color;
  }
  &.selectedByP2 {
    border: 3px solid $player2Color;
  }
}

.token-holder{
  position: fixed;
  display: flex;
  border: 1px solid #DDD;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;

  &.activeTurn{
    border: 2px solid green;
    background: rgba(green,0.3);
  }
  &.top{
    top: -2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    .timer {
      bottom: -45px;
      background: $player1Color;
    }
  }
  &.bottom{
    bottom: -2px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    .timer {
      background: $player2Color;
      top: -45px;
    }
  }
  .token{
    margin: 10px;
    height: 30px;
    width: 30px;
  }

  &.empty {
    &.top {
      top: -45px;
    }
    &.bottom {
      bottom: -45px;
    }
  }
}

.btn{
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  min-width: 150px;
  font-weight: bold;
  font-size: 18px;
  transition-duration: 0.2s;
  border: none;
  background: transparent;

  a{
    text-decoration: none;
    color: #FFF;
  }

  &.link {
    padding: 0px;

    a {
      padding: 10px;
      display: block;
    }
  }

  &.success{
    background: #16a085 ;
  }

  &.disable {
    pointer-events: none;
    background: #CCC !important;
    opacity: 0.4;
  }
}

.launch-page{
  display: flex;
  flex-direction: column;
  flex:1;

  > h1{
    font-size: 60px;
    font-family: $gamja;
  }

  > h5 {
    font-size: 16px;
    color: #999;
  }


  button{
    margin-top: 50px;
  }
}

.board-wrap{
  flex:1;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.token-selection {
  .token-container {
    padding: 20px;
    display: flex;
    flex-direction: column;

    .type-wrap {
      padding: 20px;
      display: flex;

      .token {
        margin: 0px 15px;
      }
    }
  }
}

.p1bg {
  background: $player1Color;
}

.p1color {
  color: $player1Color;
}

.p2bg {
  background: $player2Color;
}

.p2color {
  color: $player2Color;
}

.timer {
  position: absolute;
  padding: 10px;
  border-radius: 4px;
  color: #FFF;
  font-weight: bold;

  img {
    width: 16px;
    height: auto;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    margin-right: 10px;
  }
}


.winning-page {
  background: rgba(#75DDF8, 1);
  // position: fixed;
  // width: 100%;
  // height: 100%;
  // text-align: center;
  // z-index: 1;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;

  h1 {
    margin: 20px auto;
    color: #FFF;
  }

  .btn {
    margin-bottom: 10px;
  }
}

.shake-the-board {
  animation: shake-the-board 800ms ease forwards;
}

@keyframes shake-the-board {
  0% { transform: rotateZ(0deg);}
  10% { transform: rotateZ(-4deg);}
  20% { transform: rotateZ(4deg);}
  30% { transform: rotateZ(-4deg);}
  40% { transform: rotateZ(4deg);}
  50% { transform: rotateZ(-4deg);}
  60% { transform: rotateZ(4deg);}
  70% { transform: rotateZ(-4deg);}
  80% { transform: rotateZ(5deg);}
  100% { transform: inherit}
}
