* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

img {
  width: 100%;
  height: auto;
  align-self: center; }

.pull-to-refresh-disable {
  height: 100%;
  position: fixed;
  width: 100%;
  padding: 10px;
  max-width: 500px;
  left: 50%;
  transform: translateX(-50%); }

.pull-to-refresh-disable > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

body {
  font-family: sans-serif;
  overscroll-behavior-y: contain; }

#root {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.board-table {
  margin: 80px auto;
  display: block;
  max-width: 400px; }

.board-table .row {
  display: flex; }

.board-table .row .cell {
  flex: 1;
  text-align: center;
  display: flex;
  height: 100px;
  border: 1px solid #CCC;
  justify-content: center;
  align-items: center; }

.board-table .row .cell.isAvail {
  background: green; }

.board-table .row .cell.hovered {
  background: pink; }

@keyframes lowJump {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

.token {
  border-radius: 50%;
  border: 1px solid #DDD;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  background-size: cover; }

.token.turn {
  box-shadow: 0 3px 5px rgba(0, 128, 0, 0.19), 0 6px 6px rgba(0, 128, 0, 0.23);
  animation: lowJump 1s infinite; }

.token.pl1 {
  background-color: red; }

.token.pl2 {
  background-color: blue; }

.token.active {
  transform: scale(1.2);
  position: fixed; }

.token.selectedByP1 {
  border: 3px solid #e74c3c; }

.token.selectedByP2 {
  border: 3px solid #2980b9; }

.token-holder {
  position: fixed;
  display: flex;
  border: 1px solid #DDD;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }

.token-holder.activeTurn {
  border: 2px solid green;
  background: rgba(0, 128, 0, 0.3); }

.token-holder.top {
  top: -2px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.token-holder.bottom {
  bottom: -2px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.token-holder .token {
  margin: 10px;
  height: 30px;
  width: 30px; }

.btn {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  min-width: 150px;
  font-weight: bold;
  font-size: 18px;
  transition-duration: 0.2s; }

.btn a {
  text-decoration: none;
  color: #FFF; }

.btn.link {
  background: red;
  padding: 0px; }

.btn.link a {
  padding: 10px;
  display: block; }

.btn.success {
  background: #16a085; }

.btn.disable {
  pointer-events: none;
  background: #CCC !important;
  opacity: 0.4; }

.launch-page {
  display: flex;
  flex-direction: column;
  flex: 1; }

.launch-page > h1 {
  font-size: 60px;
  font-family: "Gamja Flower", cursive; }

.launch-page > h5 {
  font-size: 16px;
  color: #999; }

.launch-page button {
  margin-top: 50px; }

.board-wrap {
  flex: 1;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.token-selection .token-container {
  padding: 20px;
  display: flex;
  flex-direction: column; }

.token-selection .token-container .type-wrap {
  padding: 20px;
  display: flex; }

.token-selection .token-container .type-wrap .token {
  margin: 0px 15px; }

.p1bg {
  background: #e74c3c; }

.p1color {
  color: #e74c3c; }

.p2bg {
  background: #2980b9; }

.p2color {
  color: #2980b9; }
